//Bütün sayfada genel olarak tanımlanacak kod işlemleri
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

a {
  color: $color-navy;
  text-decoration: none;
  transition: 0.2s;
}

h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 2em;
}

.icon {
  display: inline-block;
  width: 1.4em;
  height: 2em;
  fill: currentColor;
}

.select select, .button, .text {
  font-family: inherit;
  border-radius: $border-radius;
  border: 0;
  background-color: #fff;
  color: $color-navy;
}

.button {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: $finger-size;
  color: white;
  background-color: $color-blue;

  &-icon {
    justify-content: center;
    color: black;
    padding-left: 0;
    padding-right: 0;
    width: $finger-size;
    background-color: transparent;
  }

  &-navy {
    background-color: $color-navy;
  }
}

.text {
  min-height: $finger-size;
  border-radius: $border-radius;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

  &::placeholder {
    color: $color-navy;
  }

}

.select {
  position: relative;
  color: $color-navy;

  select {
    appearance: none;
    display: inline-block;
    width: 100%;
    padding-right: 30px;
    color: $color-navy;
    height: $finger-size;
  }

  &-icon {
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.form-item {
  position: relative; 
  .form-item-icon {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-navy;
    
  }
  .text {
    padding-left: 50px;
   
  }

  .select select {
    padding-left: 50px;
  }
}

/* İnput date ile otomatik gelen iconun gizlenmesi */
#custom-date::-webkit-calendar-picker-indicator {
  position: relative;
  opacity: 1; //0 yaparsan gizlenir
}

.form-description {
  margin-top: 5px;
  font-size: $font-size-small;
  @include mq("tablet") {
    margin-top: 20px;
  }
}
