//Bütün sayfada genel olarak tanımlanacak kod işlemleri

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

a {
  color: $color-navy;
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke: currentColor;
  fill: currentColor;
}

body {
  font-family: "Open Sans", sans-serif;
}

.button {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: $finger-size;
  color: #fff;
  font-weight: bold;
  background-color: $color-blue;
  border-radius: $border-radius;
}
