.Showcase {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $color-navy url(img/showcase_back.jpg) no-repeat center center /
    cover;
  text-align: center;

  @include mq("tablet") {
    padding-top: 80px;
    padding-bottom: 170px;
  }

  &-title {
    @include mq("tablet") {
      font-size: 3em;
    }
  }
  &-subtitle {
    margin-top: 10px;
    @include mq("tablet") {
      font-size: 1.4em;
    }
  }

  &-shortlink {
    margin-top: 40px;
    @include mq("tablet") {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      display: block;
      color: inherit;
      @include mq("tablet") {
        margin-left: 10px;
        margin-right: 10px;
      }

      & + a {
        margin-top: 10px;
        @include mq("tablet") {
          margin-top: 0;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-store {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    @include mq("tablet") {
      margin-top: 60px;
    }

    a {
      padding: 11px 23px;
      margin: 7px;
      width: 120px;
      background-color: rgb(13, 74, 141);
      border-radius: $border-radius;

      &:hover {
        background-color: rgb(13, 70, 100);
      }
    }
  }
}

.Search {
  text-align: left;
  margin-top: 30px;
  background-color: $color-yellow;
  padding: $gutter;
  box-shadow: 0 20px 40px rgba(black, 0.2);
  border-radius: 3px;

  @include mq("tablet") {
    padding: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  &-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq("tablet") {
      flex-direction: row;
    }

    &-item {
      width: 100%;
      @include mq("tablet") {
      }
      & + & {
        margin-top: 20px;
        @include mq("tablet") {
          flex-grow: 1;
          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }

  .for-work {
    margin-top: 10px;
    float: right;

    @include mq("tablet") {
      position: absolute;
      top: calc(#{$finger-size} + 20px);
      right: 7em;
    }

    span {
      padding-right: 10px;
    }
  }
}

.Highlights {
  /* margin-bottom: 0px; */
  overflow: hidden;
  margin-top: 20px;

  @include mq("tablet") {
    margin-top: -120px;
  }

  &-slider {
    .flickity-viewport {
      @include mq("tablet") {
        overflow: hidden;
      }
    }
  }

  &-item {
    width: 340px;
    height: 240px;
    background-color: white;
    margin-right: 40px;
    color: $color-navy;

    &-show {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(rgb(188, 185, 185), 0.2);

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba(83, 83, 83, 0.41) 0%,
          rgba(8, 135, 29, 0.479) 100%
        );
      }

      .info {
        display: flex;
        flex-direction: column;
        line-height: 0;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: left;
        margin-left: 20px;
        padding-top: 40%;

        h3 {
          padding-bottom: 10px;
        }
      }

      .content {
        position: relative;
        z-index: 1;
      }
    }
    .extra {
      @include mq("tablet") {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 12%;
        margin-left: 30px;
        font-size: 1em;
      }

      padding-top: 60px;
      font-size: 14px;

      h3 {
        margin-bottom: 3px;
        margin-right: 5px;
      }
      h4 {
        margin-top: 10px;
        margin-right: 20px;
        color: black;
        svg {
          width: 20px;
          height: 15px;
        }
        small {
          color: rgb(55, 55, 55);
        }
      }
      a {
        margin-top: 2px;
        margin-right: 34%;
      }
    }
  }
}

.Highlightsfooter {
  .container {
    @include mq("tablet") {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
    }

    .content {
      @include mq("tablet") {
        display: flex;
        padding: 40px 40px;
        padding-left: 40px;
        width: 283px;
        height: 120px;
        background-color: white;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 0.9em;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
      font-size: 13;
      padding: 2px 0px 20px 20px;

      h2 {
        color: $color-navy;
      }
      p {
        color: rgb(55, 55, 55);
        margin-bottom: 0;
      }
      a {
        color: $color-blue;
        text-decoration: underline;
        font-size: 1em;
        font-weight: bold;
      }
    }
    .content-1 {
      @include mq("tablet") {
        width: 385px;
        height: 120px;
        margin-left: 0;
        margin-right: 10;
        /* margin-top: 0px; */
        background-color: $color-white;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
    }

    .content-2 {
      @include mq("tablet") {
        margin-left: 0;
        /* margin-top: 0px; */
        width: 343px;
        height: 120px;
        background-color: $color-white;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
    }
  }
}

.MoreDestinations {
  height: 830px;
  padding-top: 0;
  color: $color-navy;
  @include mq("tablet") {
    padding-top: 25;
    height: 400;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
    padding-top: 30px;

    @include mq("tablet") {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      height: auto;
      align-items: center;
    }

    h1 {
      font-size: 25;
      @include mq("tablet") {
        font-size: 2em;
      }
    }
    h3 {
      font-size: 13px;
      padding-top: 10px;

      @include mq("tablet") {
        font-size: 1em;
        padding-top: 0px;
      }
    }
    a,
    p,
    small {
      font-size: 10px;
      padding-top: 20px;
      line-height: 1;
      @include mq("tablet") {
        font-size: 11px;
        padding-top: 20px;
      }
    }

    .Destination {
      @include mq("tablet") {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 300px;
        justify-content: space-evenly;
      }

      &1,
      &2,
      &3,
      &4,
      &5,
      &6 {
        display: flex;
        color: gray;

        @include mq("tablet") {
          display: flex;
          color: gray;
          width: 32%;
          height: 37.5%;
        }

        &-img {
          padding-top: 20px;
          padding-right: 10px;
          margin: 2;

          @include mq("tablet") {
            padding: 2;
            padding-right: 10px;
            margin: 2;
          }

          img {
            width: 100px;
            height: 100px;
            filter: hue-rotate(320deg);
            opacity: 0.9;
          }
        }

        &-content,
        &-alldestinations {
          @include mq("tablet") {
            padding: 2;
            margin: 2;
            border-bottom: inset;
          }
          padding: 2;
          margin: 2;
          border-bottom: inset;

          p {
            font-size: 13px;
            margin: 3;

            @include mq("tablet") {
              font-size: 13px;
              margin: 4;
            }
            a {
              color: gray;
              text-decoration: underline;
            }
          }
          h3 {
            margin: 0;
            color: $color-navy;
          }

          svg {
            transform: translateY(6px);
          }

          #air {
            width: 12px;
            height: 12px;
            padding: 2.1px;
            color: white;
            background-color: #35a8eb;
            @include mq("tablet") {
              width: 12px;
              height: 12px;
              padding: 3px;
              color: white;
              background-color: #35a8eb;
            }
          }
          #arrowright {
            @include mq("tablet") {
              width: 30px;
              height: 30px;
              position: absolute;
              transform: translate(200px, -20px);
            }
            width: 30px;
            height: 30px;
            position: absolute;
            transform: translate(130px, -20px);
          }

          span {
            background-color: rgb(242, 192, 66);
            padding: 0.4px 8px 2px;
            margin-left: 8px;
            color: white;
          }
        }
      }
      &6 {
        @include mq("tablet") {
          height: 37.5%;
          margin-top: 0px;
        }
        background-color: #35a8eb;
        height: 70px;
        align-items: center;
        margin-top: 10px;

        &-alldestinations {
          border: none;
        }

        h2 {
          @include mq("tablet") {
            color: white;
            margin-left: 40px;
            font-weight: 100;
            letter-spacing: 1px;
          }
          color: white;
          margin-left: 20px;
          font-weight: 100;
          letter-spacing: 1px;
          font-size: 1em;
        }
        #arrowright {
          @include mq("tablet") {
            width: 30px;
            height: 30px;
            position: absolute;
            transform: translate(300px, -43px);
            color: white;
          }
          width: 30px;
          height: 30px;
          position: absolute;
          transform: translate(250px, -39px);
          color: white;
        }
      }
    }
  }
}

.MoreDestinationsfooter {
  @include mq("tablet") {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
    padding-top: 20px;
  }
  margin-top: 20px;
  .container {
    @include mq("tablet") {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 2px;
      padding: 2px;
    }

    .content {
      @include mq("tablet") {
        display: flex;
        margin: 2px;
        padding: 2px;
      }

      img {
        width: 50px;
        height: 50px;
        @include mq("tablet") {
          width: 60px;
          height: 60px;
        }
      }

      p,
      a {
        font-size: 12px;
        @include mq("tablet") {
          font-size: 0.9em;
        }
      }

      h2 {
        margin: 0;
        font-size: 1em;
        @include mq("tablet") {
          font-size: 1.5em;
        }
      }

      .title1,
      a {
        color: $color-blue;
      }

      .title2 {
        color: $color-navy;
      }

      &1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 2px;
        padding: 2px;

        &-img {
          margin: 10px;
          padding: 10px;

          &-svg {
            width: 100%;
            height: 120px;
          }
        }
        &-content {
          margin: 10px;
          padding: 10px;
          margin-bottom: 0;
          padding-bottom: 0;
          @include mq("tablet") {
            margin: 10px;
            padding: 10px;
          }
        }
      }

      &2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 2px;
        padding: 2px;

        &-img {
          margin: 10px;
          padding: 10px;

          &-svg {
            width: 100%;
            height: 120px;
          }
        }

        &-content {
          margin: 10px;
          padding: 10px;

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.Discover {
  height: 600px;
  .container {
    .Discover-title {
      font-size: 0.9em;
      color: $color-navy;
      text-align: center;
      padding-bottom: 0px;
      @include mq("tablet") {
        padding-bottom: 10px;
        font-size: 1em;
      }
    }

    .Countries {
      display: grid;
      gap: 20px;
      justify-items: center;
      @include mq("tablet") {
        display: grid;
        grid-template-columns: repeat(4, 265px);
        justify-items: center;
      }

      .box1,
      .box2,
      .box3,
      .box4 {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;
        padding: 0 20 20 30;
        width: 210;
        height: 232;
        color: #fff;

        h1 {
          font-size: 1.5em;
          margin: 0;
        }

        img {
          width: 262px;
          height: 252px;
          position: absolute;
          z-index: -1;
          transform: translate(-30px, 20px);
        }

        #arrowright {
          width: 25px;
          height: 25px;
          position: absolute;
          transform: translate(180px, -180px);
        }
      }
      .box1,
      .box2,
      .box3 {
        &:before {
          content: "";
          position: absolute;
          width: 262;
          height: 252;
          background-image: linear-gradient(
            to bottom,
            rgba(83, 83, 83, 0.41) 0%,
            rgba(8, 135, 29, 0.479) 100%
          );
          transform: translate(-30px, 20px);
          z-index: 1;
        }
      }

      .box4 {
        background-color: $color-blue;
        margin-bottom: 20px;
        @include mq("tablet") {
          margin-bottom: 0px;
        }
      }

      p,
      h1 {
        font-size: 11;
        position: relative;
        z-index: 1;
        @include mq("tablet") {
          font-size: 11;
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}
