.Showcase {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $color-navy url(img/showcase_back.jpg) no-repeat center center /
    cover;
  text-align: center;

  @include mq("tablet") {
    padding-top: 80px;
    padding-bottom: 170px;
  }

  &-title {
    @include mq("tablet") {
      font-size: 3em;
    }
  }
  &-subtitle {
    margin-top: 10px;
    @include mq("tablet") {
      font-size: 1.4em;
    }
  }

  &-shortlink {
    margin-top: 40px;
    @include mq("tablet") {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      display: block;
      color: inherit;
      @include mq("tablet") {
        margin-left: 10px;
        margin-right: 10px;
      }

      & + a {
        margin-top: 10px;
        @include mq("tablet") {
          margin-top: 0;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-store {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    @include mq("tablet") {
      margin-top: 60px;
    }

    a {
      padding: 11px 23px;
      margin: 7px;
      width: 120px;
      background-color: rgb(13, 74, 141);
      border-radius: $border-radius;

      &:hover {
        background-color: rgb(13, 70, 100);
      }
    }
  }
}

.Search {
  text-align: left;
  margin-top: 30px;
  background-color: $color-yellow;
  padding: $gutter;
  box-shadow: 0 20px 40px rgba(black, 0.2);
  border-radius: 3px;

  @include mq("tablet") {
    padding: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  &-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq("tablet") {
      flex-direction: row;
    }

    &-item {
      width: 100%;
      @include mq("tablet") {
      }
      & + & {
        margin-top: 20px;
        @include mq("tablet") {
          flex-grow: 1;
          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }

  .for-work {
    margin-top: 10px;
    float: right;

    @include mq("tablet") {
      position: absolute;
      top: calc(#{$finger-size} + 20px);
      right: 7em;
    }

    span {
      padding-right: 10px;
    }
  }
}

.Highlights {
  /* margin-bottom: 0px; */
  overflow: hidden;
  margin-top: 20px;

  @include mq("tablet") {
    margin-top: -120px;
  }

  &-slider {
    .flickity-viewport {
      @include mq("tablet") {
        overflow: hidden;
      }
    }
  }

  &-item {
    width: 340px;
    height: 240px;
    background-color: white;
    margin-right: 40px;
    color: $color-navy;

    &-show {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(rgb(188, 185, 185), 0.2);

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba(181, 182, 186, 0.5) 0%,
          rgba(40, 47, 173, 0.685) 100%
        );
      }

      .info {
        display: flex;
        flex-direction: column;
        line-height: 0;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: left;
        margin-left: 20px;
        padding-top: 40%;

        h3 {
          padding-bottom: 10px;
        }
      }

      .content {
        position: relative;
        z-index: 1;
      }
    }
    .extra {
      @include mq("tablet") {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 12%;
        margin-left: 30px;
        font-size: 1em;
      }

      padding-top: 60px;
      font-size: 14px;


      h3 {
        margin-bottom: 3px;
        margin-right: 5px;
      }
      h4 {
        margin-top: 10px;
        margin-right: 20px;
        color: black;
        svg {
          width: 20px;
          height: 15px;
        }
        small {
          color: rgb(55, 55, 55);
        }
      }
      a {
        margin-top: 2px;
        margin-right: 34%;
      }
    }
  }
}

.Highlightsfooter {
  height: 500px;
  .container {
    @include mq("tablet") {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
    }

    .content {
      @include mq("tablet") {
        display: flex;
        padding: 40px 40px;
        margin: 70px 10px;
        padding-left: 40px;
        width: 283px;
        height: 120px;
        background-color: white;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: .9em;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
      font-size: 13;

      h2 {
        color: $color-navy;
      }
      p {
        color: rgb(55, 55, 55);
        margin-bottom: 0;
      }
      a {
        color: $color-blue;
        text-decoration: underline;
        font-size: 1em;
        font-weight: bold;
      }
    }
    .content-1 {
      @include mq("tablet") {
        width: 385px;
        height: 120px;
        margin-left: 0;
        margin-right: 10;
        background-color: $color-white;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
    }

    .content-2 {
      @include mq("tablet") {
        margin-left: 0;
        width: 343px;
        height: 120px;
        background-color: $color-white;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
    }
  }
}
