.Showcase {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $color-navy url(img/showcase_back.jpg) no-repeat center center /
    cover;
  text-align: center;
  @include mq("tablet") {
    padding-top: 80px;
    padding-bottom: 170px;
  }

  h1 {
    font-size: 2.2em;
    @include mq("tablet") {
      font-size: 3.8em;
    }
  }
  h3 {
    font-size: 1em;
    font-weight: lighter;
    @include mq("tablet") {
      font-size: 1.5em;
      font-weight: lighter;
    }
  }

  &-shortlink {
    margin-top: 40px;
    @include mq("tablet") {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      display: block;
      color: inherit;
      @include mq("tablet") {
        margin-left: 10px;
        margin-right: 10px;
      }

      & + a {
        margin-top: 10px;
        @include mq("tablet") {
          margin-top: 0;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-store {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    @include mq("tablet") {
      margin-top: 60px;
    }

    a {
      padding: 11px 23px;
      margin: 7px;
      width: 120px;
      background-color: rgb(13, 74, 141);
      border-radius: $border-radius;

      &:hover {
        background-color: rgb(13, 70, 100);
      }
    }
  }
}

.Search {
  text-align: left;
  margin-top: 30px;
  background-color: $color-yellow;
  padding: $gutter;
  box-shadow: 0 20px 40px rgba(black, 0.2);
  border-radius: 3px;

  @include mq("tablet") {
    padding: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  &-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq("tablet") {
      flex-direction: row;
    }

    &-item {
      width: 100%;
      @include mq("tablet") {
      }
      & + & {
        margin-top: 20px;
        @include mq("tablet") {
          flex-grow: 1;
          margin-top: 0;
          margin-left: 10px;
        }
      }
    }
  }

  .for-work {
    margin-top: 10px;
    float: right;

    @include mq("tablet") {
      position: absolute;
      top: calc(#{$finger-size} + 20px);
      right: 7em;
    }

    span {
      padding-right: 10px;
    }
  }
}

.Highlights {
  /* margin-bottom: 0px; */
  overflow: hidden;
  margin-top: 20px;

  @include mq("tablet") {
    margin-top: -90px;
    overflow: hidden;
  }

  &-slider {
    .flickity-viewport {
      @include mq("tablet") {
        overflow: visible;
      }
    }
  }

  &-item {
    width: 315px;
    height: 200px;
    background-color: white;
    margin-right: 30px;
    color: $color-navy;
    @include mq("tablet") {
      width: 300px;
      height: 200px;
      background-color: white;
      margin-right: 30px;
      color: $color-navy;
    }

    &-show {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(rgb(188, 185, 185), 0.2);

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to bottom,
          rgba(83, 83, 83, 0.41) 0%,
          rgba(8, 135, 29, 0.479) 100%
        );
      }

      .info {
        display: flex;
        flex-direction: column;
        line-height: 0;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: left;
        margin-left: 20px;
        padding-top: 32%;

        h3 {
          padding-bottom: 10px;
        }
      }

      .content {
        position: relative;
        z-index: 1;
      }
    }
    .extra {
      @include mq("tablet") {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 6%;
        margin-left: 40px;
        font-size: 1em;
      }

      padding-top: 60px;
      font-size: 14px;

      h3 {
        margin-bottom: 3px;
        margin-right: 5px;
      }
      h4 {
        margin-top: 10px;
        margin-right: 20px;
        color: black;
        svg {
          width: 20px;
          height: 15px;
        }
        small {
          color: rgb(55, 55, 55);
        }
      }
      a {
        margin-top: 2px;
        margin-right: 34%;
      }
    }
  }
  #still {
    width: 420px;
    margin-left: 20px;
    @include mq("tablet") {
      width: 420px;
      margin-left: 0;
    }
  }
}

.Highlightsfooter {
  .container {
    @include mq("tablet") {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
    }

    .content {
      @include mq("tablet") {
        display: flex;
        padding: 40px 40px;
        padding-left: 40px;
        width: 283px;
        height: 120px;
        background-color: white;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 0.9em;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
      font-size: 13;
      padding: 2px 0px 20px 20px;

      h2 {
        color: $color-navy;
      }
      p {
        color: rgb(55, 55, 55);
        margin-bottom: 0;
      }
      a {
        color: $color-blue;
        text-decoration: underline;
        font-size: 1em;
        font-weight: bold;
      }
    }
    .content-1 {
      @include mq("tablet") {
        width: 385px;
        height: 120px;
        margin-left: 0;
        margin-right: 10;
        /* margin-top: 0px; */
        background-color: $color-white;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
    }

    .content-2 {
      @include mq("tablet") {
        margin-left: 0;
        /* margin-top: 0px; */
        width: 343px;
        height: 120px;
        background-color: $color-white;
      }

      margin-top: 30px;
      background-color: $color-soft-blue;
    }
  }
}

.MoreDestinations {
  height: 960px;
  padding-top: 0;
  color: $color-navy;
  @include mq("tablet") {
    padding-top: 25;
    height: 400;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
    padding-top: 30px;

    @include mq("tablet") {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      height: auto;
      align-items: center;
    }

    h1 {
      font-size: 25;
      @include mq("tablet") {
        font-size: 2em;
      }
    }
    h3 {
      font-size: 13px;
      padding-top: 10px;

      @include mq("tablet") {
        font-size: 1em;
        padding-top: 0px;
      }
    }

    .Destination {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      margin-top: 20px;
      @include mq("tablet") {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        row-gap: 35px;
      }

      &1,
      &2,
      &3,
      &4,
      &5,
      &6 {
        display: flex;
        color: gray;
        @include mq("tablet") {
          display: flex;
          color: gray;
          width: 32%;
          height: 37.5%;
        }

        &-img {
          img {
            width: 114px;
            height: 114px;
            /*  filter: hue-rotate(320deg); */
            opacity: 0.9;
          }
          padding-right: 20px;
          @include mq("tablet") {
            padding: 0;
            padding-right: 20px;
            margin: 0;

            img {
              width: 114px;
              height: 114px;
              /*  filter: hue-rotate(320deg); */
              opacity: 0.9;
            }
          }
        }

        &-content,
        &-alldestinations {
          @include mq("tablet") {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid rgba(230, 235, 243);
          }
          padding: 0;
          margin: 0;
          border-bottom: 1px solid rgba(230, 235, 243);

          p {
            font-size: 13px;
            padding-left: 2px;
            @include mq("tablet") {
              font-size: 13px;
              padding-left: 2px;
            }
            a {
              color: #a6adb9;
              opacity: 90%;
              text-decoration: underline;
            }
          }
          h3 {
            margin-top: 0;
            margin-bottom: 0;
            color: $color-navy;
            @include mq("tablet") {
              margin-top: 5;
              margin-bottom: 0;
              color: $color-navy;
              padding-left: 3px;
            }

            a {
              font-size: 1.2em;
              padding-top: 0;
              @include mq("tablet") {
                font-size: 1em;
                padding-top: 0;
              }
            }
          }

          svg {
            transform: translateY(6px);
          }

          #air {
            width: 12px;
            height: 12px;
            padding: 2.1px;
            color: white;
            background-color: #0daeeb;
            @include mq("tablet") {
              width: 12px;
              height: 12px;
              padding: 3px;
              color: white;
              background-color: #0daeeb;
            }
          }
          .icon-arrow_right {
            @include mq("tablet") {
              width: 25px;
              height: 25px;
              position: absolute;
              transform: translate(165px, -15px);
              color: #a6adb9;
              opacity: 0.9;
            }
            width: 25px;
            height: 25px;
            position: absolute;
            transform: translate(165px, -15px);
            color: #a6adb9;
            opacity: 0.9;
          }

          span {
            background-color: rgb(248, 178, 9);
            padding: 0px 8px 3px;
            margin-left: 8px;
            font-weight: 600;
            color: white;
          }
        }

        small {
          font-size: 10px;
          @include mq("tablet") {
            font-size: 11px;
            display: inline-block;
            transform: translateY(-5px);
          }

          svg {
            width: 10px;
            height: 20px;
          }
        }
      }
      &6 {
        height: 110;
        background-color: #35a8eb;
        align-items: center;
        margin-top: 10px;
        box-shadow: rgba(1, 172, 238, 0.5) 0px 20px 25px -5px;
        transition: background-color 0.5s ease-in-out;
        &:hover {
          background-color: $color-navy;
          box-shadow: rgba(8, 59, 175, 0.5) 0px 20px 25px -5px;
        }
        @include mq("tablet") {
          height: 114;
          margin-top: 0px;
          box-shadow: rgba(1, 172, 238, 0.5) 0px 20px 25px -5px;
          transition: background-color 0.5s ease-in-out;
          &:hover {
            background-color: $color-navy;
            box-shadow: rgba(8, 59, 175, 0.5) 0px 20px 25px -5px;
          }
        }

        &-alldestinations {
          border: none;
        }

        h2 {
          @include mq("tablet") {
            color: white;
            margin-left: 40px;
            font-weight: 100;
            letter-spacing: 1px;
          }
          margin-left: 20px;
          font-weight: 100;
          letter-spacing: 1px;
          font-size: 1em;

          a {
            font-size: 1em;
            color: white;
            @include mq("tablet") {
              font-size: 1em;
              color: white;
            }
          }
        }
        #arrowrightshow {
          @include mq("tablet") {
            position: absolute;
            transform: translate(275px, -35px);
            color: white;
          }
          position: absolute;
          transform: translate(275px, -35px);
          color: white;
        }
      }

      a,
      p {
        font-size: 10px;
        padding-top: 4px;
        @include mq("tablet") {
          font-size: 11px;
          padding-top: 4px;
        }
      }

      .Sweep-to-right {
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        width: 335px;
        height: 114px;
        position: absolute;
        transform: perspective(1px) translateZ(0);
        transition: color 1s;
        opacity: 0;

        @include mq("tablet") {
          width: 364px;
          height: 114px;
        }

        &:hover {
          opacity: 1;
        }

        a {
          font-size: 1em;
          font-weight: 100;
          letter-spacing: 1px;
          color: white;
          padding-right: 80px;
        }

        #sweeparrow {
          color: white;
          position: absolute;
          right: 70px;
          top: 45px;
        }
      }
      .Sweep-to-right:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: $color-blue;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform 0.7s ease;
      }
      .Sweep-to-right:hover {
        color: white;
      }
      .Sweep-to-right:hover:before {
        transform: scaleX(1);
      }
    }
  }
}

.MoreDestinationsfooter {
  margin-top: 50px;
  margin-bottom: 30px;
  @include mq("tablet") {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .container {
    @include mq("tablet") {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 2px;
      padding: 2px;
    }

    .content {
      @include mq("tablet") {
        display: flex;
        margin: 2px;
        padding: 2px;
      }

      img {
        width: 50px;
        height: 50px;
        @include mq("tablet") {
          width: 60px;
          height: 60px;
        }
      }

      p,
      a {
        font-size: 12px;
        @include mq("tablet") {
          font-size: 0.9em;
        }
      }

      h2 {
        margin: 0;
        font-size: 1em;
        @include mq("tablet") {
          font-size: 1.5em;
        }
      }

      .title1,
      a {
        color: $color-blue;
      }

      .title2 {
        color: $color-navy;
      }

      &1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 2px;
        padding: 2px;

        &-img {
          margin: 10px;
          padding: 10px;

          &-svg {
            width: 100%;
            height: 120px;
          }
        }
        &-content {
          margin: 10px;
          padding: 10px;
          margin-bottom: 0;
          padding-bottom: 0;
          @include mq("tablet") {
            margin: 10px;
            padding: 10px;
          }
        }
      }

      &2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 2px;
        padding: 2px;

        &-img {
          margin: 10px;
          padding: 10px;

          &-svg {
            width: 100%;
            height: 120px;
          }
        }

        &-content {
          margin: 10px;
          padding: 10px;

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.Discover {
  height: auto;
  @include mq("tablet") {
    height: 400px;
  }
  .container {
    .Discover-title {
      font-size: 0.9em;
      color: $color-navy;
      text-align: center;
      padding-bottom: 0px;
      @include mq("tablet") {
        padding-bottom: 10px;
        font-size: 1em;
      }
    }

    .Countries {
      display: grid;
      gap: 20px;
      justify-items: center;
      @include mq("tablet") {
        display: grid;
        grid-template-columns: repeat(4, 260px);
        justify-content: space-between;
      }

      .box1,
      .box2,
      .box3,
      .box4 {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;
        padding: 0 20 20 30;
        width: 210;
        height: 232;
        color: #fff;

        transition: background-color 0.5s ease-in-out;
        &:hover {
          background-color: $color-navy;
        }

        h1 {
          font-size: 1.8em;
          margin: 0;
          a {
            color: white;
          }
        }

        img {
          width: 260px;
          height: 252px;
          position: absolute;
          z-index: -1;
          transform: translate(-30px, 20px);
        }

        #arrowrightmore {
          width: 25px;
          height: 25px;
          position: absolute;
          transform: translate(180px, -180px);
        }
      }
      .box1,
      .box2,
      .box3 {
        &:before {
          content: "";
          position: absolute;
          width: 260;
          height: 252;
          background-image: linear-gradient(
            to bottom,
            rgba(83, 83, 83, 0.41) 0%,
            rgba(8, 135, 29, 0.479) 100%
          );
          transform: translate(-30px, 20px);
          z-index: 1;
        }
      }

      .box4 {
        background-color: $color-blue;
        box-shadow: rgba(1, 172, 238, 0.5) 0px 20px 25px -5px;
        margin-bottom: 20px;
        transition: background-color 0.5s ease-in-out;
        &:hover {
          background-color: $color-navy;
          box-shadow: rgba(8, 59, 175, 0.5) 0px 20px 25px -5px;
        }
        @include mq("tablet") {
          margin-bottom: 0px;
          box-shadow: rgba(1, 172, 238, 0.5) 0px 20px 25px -5px;
          transition: background-color 0.5s ease-in-out;
          &:hover {
            background-color: $color-navy;
            box-shadow: rgba(8, 59, 175, 0.5) 0px 20px 25px -5px;
          }
        }
      }

      p,
      h1 {
        font-size: 11;
        position: relative;
        z-index: 1;
        @include mq("tablet") {
          font-size: 11;
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}

.Aparthotels {
  height: auto;
  @include mq("tablet") {
    height: 650px;
  }
  .container {
    text-align: center;
    height: 1600px;
    @include mq("tablet") {
      text-align: center;
      height: 600px;
    }

    .Aparthotels-title {
      font-size: 1em;
      color: $color-navy;
    }

    .Suites {
      height: 1400px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      @include mq("tablet") {
        height: 400px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
      }

      &-1 {
        width: 260px;
        height: 330px;
        position: relative;
        background-color: white;

        .SuiteRating {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 0;
          margin-top: 100;
          width: 90px;
          height: 40px;
          background-color: $color-blue;
          z-index: 1;

          a {
            font-size: 18px;
            color: white;
            font-weight: bolder;
          }

          small {
            transform: translateY(2px);
            color: white;
            opacity: 50%;
          }
        }

        .content {
          padding: 0 0 4 25;
          margin-top: 20px;
          text-align: left;
          font-size: 14px;

          h3 {
            margin: 0;
            color: $color-navy;
            a {
              font-size: 1em;
            }
          }
          small {
            color: gray;
            svg {
              transform: translateY(4px);
            }

            a {
              padding-left: 10px;
              text-decoration: underline;
              color: currentColor;
            }
          }
        }
        &:before {
          content: "";
          position: absolute;
          width: 230;
          height: 160;
          background-image: linear-gradient(
            to bottom,
            rgba(83, 83, 83, 0.41) 0%,
            rgba(8, 135, 29, 0.479) 100%
          );
          z-index: 1;
        }
      }
    }

    .Aparthotels-button {
      border-bottom: inset;
      padding-top: 20px;
      padding-bottom: 70px;
      button {
        padding: 23 20 23 35;
        font-size: 13;
      }
      svg {
        width: 24px;
      }
    }
  }
}

.Deciding {
  height: auto;
  .container {
    height: 650px;
    margin-top: 60px;
    text-align: center;
    @include mq("tablet") {
      height: 400px;
      margin-top: 0px;
    }

    .Deciding-title {
      color: $color-navy;
    }

    .Deciding-paragraf {
      color: gray;
      opacity: 0.7;
      font-size: 18px;
      font-weight: lighter;
    }

    .Deciding-buttons {
      display: flex;
      justify-content: center;
      gap: 20px;
      font-size: 11.6px;
      padding-top: 20px;

      &-2,
      &-3 {
        .button {
          background: none;
          color: $color-navy;
          padding-right: 9;
        }
      }
    }

    .Deciding-cities {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;
      gap: 20px;

      @include mq("tablet") {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 40px;
        column-gap: 100px;
        row-gap: 0px;
      }

      &-item {
        text-align: left;

        h5 {
          margin: 0;
          color: $color-navy;
          font-weight: normal;
          a {
            font-size: 1em;
          }
        }
        small {
          color: gray;
        }
      }
    }
  }
}

.Showcase-bottom {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(img/alt_back.jpg); /* Arka plan görüntüsü */
  background-position: center center; /* Görüntüyü merkeze yerleştir */
  text-align: center;

  @include mq("tablet") {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(img/alt_back.jpg); /* Arka plan görüntüsü */
    background-position: center; /* Görüntüyü merkeze yerleştir */
    background-size: 100%; /* Görüntüyü %50 oranında küçült */
    text-align: center;
  }

  h1 {
    margin-bottom: 0;
    font-size: 2.2em;
  }
  h3 {
    margin-top: 8;
    margin-bottom: 40;
    font-size: 0.9em;
    font-weight: lighter;
  }

  .Showcase-bottom-form {
    .formitem1 {
      position: relative;

      svg {
        color: $color-navy;
        position: absolute;
        padding-left: 15px;
        padding-top: 4px;
      }

      .email {
        padding-left: 46px;
        width: 300;
        height: 40px;
        @include mq("tablet") {
          padding-left: 46px;
          width: 300;
          height: 40px;
        }
      }

      ::placeholder {
        color: $color-navy;
        font-size: 13px;
      }

      .email:not(:placeholder-shown) {
        //Placeholder dışında herhangi bir metin girildiğinde;
        color: $color-navy;
        font-size: 13px;
      }

      a {
        width: 80;
        transform: translate(-10px, -0.8px);
      }
    }

    .formitem2 {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      gap: 5px;

      .checkbox {
        width: 16px;
        height: 16px;
      }

      label {
        font-size: 12px;
      }
    }
  }
}

.Love {
  height: auto;
  .container {
    height: 520px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    @include mq("tablet") {
      height: 360px;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .Love-title {
      color: $color-navy;
    }

    .Love-buttons {
      display: flex;
      justify-content: center;
      gap: 25px;
      font-size: 11.6px;
      padding-top: 25px;

      &-2,
      &-3 {
        .button {
          background: none;
          color: $color-navy;
          padding-right: 9;
        }
      }
    }

    .Love-cities {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;
      gap: 20px;

      @include mq("tablet") {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 40px;
        column-gap: 100px;
        row-gap: 0px;
      }

      &-item {
        text-align: left;

        h5 {
          margin: 0;
          color: $color-navy;
          font-weight: normal;
          a {
            font-size: 1em;
          }
        }
        small {
          color: gray;
        }
      }
    }
  }
}

.Footer {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgb(10, 83, 174);
  color: white;
  @include mq("tablet") {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(10, 83, 174);
    color: white;
  }

  .Ul-1 {
    border-bottom: 1px solid rgba(#ddd, 0.2); /* %20 saydamlıkta siyah border bottom */
    @include mq("tablet") {
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(#ddd, 0.2);
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-type: none; //ul simgelerini kaldırır.
      padding-inline-start: 0; //ul elementinin user agent stylesheet tarafından gelen paddingi sıfırlama
      line-height: 30px;
      text-align: center;

      @include mq("tablet") {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        list-style-type: none;
        padding-inline-start: 0;
      }

      a {
        font-size: 13px;
        color: white;
        @include mq("tablet") {
          font-size: 12px;
          color: white;
        }
      }
    }
  }
  .Ul-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;

    @include mq("tablet") {
      padding-top: 60px;
      padding-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 25px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      line-height: 30px;
      gap: 30px;

      @include mq("tablet") {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        flex-grow: 1;
        line-height: normal;
        gap: 30px;
      }

      .Ul-2-item {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

        li {
          padding-bottom: 3px;
          list-style-type: none;
          @include mq("tablet") {
            padding-bottom: 10px;
          }
        }

        a {
          font-size: 13px;
          color: white;
          @include mq("tablet") {
            font-size: 12px;
            color: white;
          }
        }
      }
    }

    &-store {
      @include mq("tablet") {
        display: flex;
        flex-direction: column;
        flex: 1.6;
        padding-left: 45px;
      }

      .stores {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(#ddd, 0.2);
        @include mq("tablet") {
          display: flex;
          justify-content: space-between;
          padding-bottom: 25px;
          border-bottom: 1px solid rgba(#ddd, 0.2);
        }

        a {
          padding: 10px 25px 10px 15px;
          width: 100px;
          height: 25px;
          background-color: rgb(234, 241, 247);
          border-radius: $border-radius;
          @include mq("tablet") {
            padding: 10px 25px 10px 15px;
            width: 100px;
            height: 25px;
            background-color: rgb(234, 241, 247);
            border-radius: $border-radius;
          }

          &:hover {
            background-color: rgb(197, 197, 197);
            opacity: 0.8;
          }
        }
      }

      .paragraph {
        margin-top: 20px;
        font-size: 13px;

        span {
          opacity: 0.4;
          font-size: 11px;
          line-height: 25px;
          @include mq("tablet") {
            opacity: 0.4;
            font-size: 13px;
            line-height: 20px;
          }
        }
        a {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }

  .Ul-3 {
    text-align: center;

    .Copyright {
      font-size: 12px;
      opacity: 0.4;
      @include mq("tablet") {
        font-size: 12px;
        opacity: 0.4;
      }
    }
  }
}
