//Header Layout İşlemleri

.Header {
  border-bottom: 1px solid #ddd;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 64px;
  }

  &-logo {
    img {
      width: 144px;
    }
  }

  &-switch {
    background: none;
    border: none;
    margin-left: auto; //kenara yanaştı
    @include mq {
      display: none;
    }
  }

  &-menu {
    pointer-events: none;
    opacity: 0;
    transform: translateX(100%);
    display: flex;
    position: absolute;
    left: 0;
    right: 0 ;
    top: 100%;
    padding-left: $gutter;
    padding-right: $gutter;
    padding-bottom: 10px; 
    flex-direction: column; //Dikey olarak alt alta gelmesini sağlar
    background-color: #eee;
    box-shadow: 0 20px 30px rgba(black, .2);

    .Header.menu-show & {
     opacity: 1;
     transform: translateY(0);
    }

    @include mq("tablet") {
      opacity: 1;
      transform: translateY(0);
      transition: 0s;
      margin-left: auto;
      flex-direction: row;
      position: static;
      box-shadow: none;
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    &-user {
      display: flex;
      flex-direction: column; //Alt alta gelmesini sağlar
      align-items: center; //Öğeleri dikey olarak ortala
      @include mq("tablet") {
        flex-direction: row;
      }

      a {
        width: 100%;
        display: inline-flex;
        align-items: center; //Öğeleri dikey olarak ortala
        justify-content: center; //Öğeleri yatay olarak ortala
        padding-left: 20px;
        padding-right: 20px;
        height: $finger-size; 
        &:hover {
          background-color: #bfb;
        }
      }
    }

    &-property {
      margin-top: 20px;
      justify-content: center; //Yatayda ortala
      @include mq("tablet") {
        margin-top: 0;
      }
    }

    &-helper {
      margin-top: 20px;
      display: flex;
      justify-content: center; //Yatayda ortala

      @include mq("tablet") {
        margin-left: 20px;
        margin-top: 0;
      }

      select {
        appearance: none; //Form elemanının görünümünü sıfırlar
        background-color: transparent;
        border: 1px solid #e0e6f1;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
        color: $color-navy;
        height: $finger-size;

        &:nth-child(1) {
          // Select 1
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }
        &:nth-child(2) {
          // Select 2
          border-left: 0; //ortadaki 2 borderın birleşmesini ayırma
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
    }
  }
}
