//Değişken tanımlamaları

$max-width: 1140px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 40px; //a etiketlerinde tıklanılan boxların büyüklüğü parmak size. Apple'ın önerdiği Ortalama 40-42px öneriyor. Kullanıcı 40px den küçük a taglarına tıklamakta zorlandığı düşünülmekterdir
//
$font-size: 16px;
$font-size-small: 0.86em;

$color-navy: #083b87;
$color-blue: #01acee;
$color-soft-blue: #f1f6ff;
$color-yellow: #fbbe00;
//
$font-family: "Open Sans", Arial, sans-serif;
