@import 'normalize.scss';
@import 'variable.scss';
@import 'formalize.scss';
@import 'global.scss';


$color1: rgb(186, 53, 186);

body {
    color: $color1;
}

a {
    color: white;

    &:hover {
        color: red;
    }
}     