$max-width: 1200px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 40px; //a etiketlerinde tıklanılan boxların büyüklüğü parmak size si. Apple'ın önerdiği Ortalama 40-42px öneriyor. Kullanıcı 40px den küçük a taglarına tıklamakta zorlandığı düşünülmekterdir
//
$color-navy: #083b87;
$color-blue: #01acee;
$color-soft-blue: #F1F6FF;
//
$font-family: "Open Sans", Arial, sans-serif;


